
body {
    
    display: grid;
    grid-column: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-image: url(images/me.jpg) ;
    height: 100vh;
    

}

div {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    border:none;
    width: 100%;
    height: auto !important;
    color: #373a3c;
    line-height: 1.5em;
    word-wrap: break-word;
    
}

h1{
    color: aliceblue;
    font-size: 200%;
    letter-spacing: auto;
    margin: .6em 0;

}
p{
    color: beige;
    font-size: 20px;
    font-weight:100px;
}